*{
 padding:0; 
 margin:0; 

}
.box{
	width: 100%;
	height: 100%;
	background-color: #120907;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows:  repeat(7, 1fr);
}

.topo{
	grid-column-start: 1;
	grid-column-end:  8;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: #0c7b89;
	text-align: center;
	text-transform: uppercase;

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows:  repeat(3, 1fr);

	color: white;

}
.title{
	grid-column-start: 3;
	grid-column-end:  6;
	grid-row-start: 1;
}
#title2{
	grid-column-start: 3;
	grid-column-end:  6;
	grid-row-start: 2;
}
.title3{
	grid-column-start: 3;
	grid-column-end:  6;
	grid-row-start: 3;
}


.meio{
	background-color: white;
	grid-column-start: 1;
	grid-column-end:  8;
	grid-row-start: 3;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows:  repeat(3, 1fr);
}
.core{
	grid-column-start: 1;
	grid-column-end: 8;
	background-color: #0c7b89;
}
.core2{
	grid-column-start: 1;
	grid-column-end: 8;
	background-color: #120907;
	grid-row-start: 3;
}

.baixo{
	background-color:#120907; 
	grid-column-start: 1;
	grid-column-end:  8;
	grid-row-start: 4;
	grid-row-end: 8;

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(4, 1fr);

	margin: 5px;
	padding: 5px;
}

.sorteio{
	grid-column-start: 4;
	grid-row-start: 2;
	cursor: pointer;
	margin: 5px;

}

.arum{

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 3;
	column-gap: 30px;
	row-gap:  30px;

}
.quadrados{
	background-color: white;
	width: 100%;
	height: 100px;
	cursor: pointer;
	border-radius: 20px;
}